<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create and View Recipes</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      body {
        background-color: #f8f9fa;
        font-family: 'Arial', sans-serif;
      }
      .container {
        max-width: 960px;
      }
      .card {
        background-color: #ffffff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        border-radius: 10px; /* Rounded corners */
        border: 1px solid #ddd; /* Border for the card */
      }
      .card-title {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .card-body {
        padding: 1.25rem;
      }
      .modal-header {
        background-color: #007bff;
        color: white;
      }
      .modal-footer .btn {
        background-color: #007bff;
        color: white;
      }
      .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
      }
      .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
      }
      .recipe-card img {
        max-height: 150px;
        object-fit: cover;
        width: 100%;
        border-bottom: 1px solid #ddd; /* Border between image and card body */
      }
      .form-group label {
        font-weight: bold;
      }
      .recipe-list-container {
        display: flex;
        flex-direction: column; /* Display recipes vertically */
        gap: 20px;
      }
      .recipe-item {
        cursor: pointer;
      }
      .input-group {
        max-width: 600px; /* Shorten the search bar */
        margin: 0 auto 20px; /* Center the search bar and add bottom margin */
      }
      @media (max-width: 768px) {
        .recipe-item {
          flex: 1 1 calc(50% - 20px);
        }
      }
      @media (max-width: 576px) {
        .recipe-item {
          flex: 1 1 100%;
        }
      }
      .character-counter {
        float: right;
        font-size: 0.8em;
        color: #6c757d;
      }
      .form-group {
        position: relative;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-4">Your Favorite Meals, Just a Click Away</h1>
      <div style="position: absolute; top: 10px; right: 10px;">
          <!-- My Profile Button -->
          <button id="myProfileBtn" class="btn btn-primary" style="margin-right: 10px;">
              My Profile
          </button>
          <button id="logoutBtn" class="btn btn-danger">
              Logout
          </button>
      </div>
  </div>
  
  <!-- Filter Form -->
<!-- Filter Form -->
<div class="mb-4">
 
  <form id="filterForm" class="form-inline justify-content-center">
    <div class="form-group mr-2">
      <label for="filterDifficultySelect" class="mr-2">Difficulty:</label>
      <select class="form-control" id="filterDifficultySelect">
        <option value="" selected disabled>Select Option</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>
    <div class="form-group mr-2">
      <label for="filterCookingTimeInput" class="mr-2">Max Cooking Time:</label>
      <input type="number" class="form-control" id="filterCookingTimeInput" placeholder="Max Time">
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
  </form>
</div>

    
      <!-- Trigger Button for Adding New Recipe -->
      <button
        type="button"
        class="btn btn-primary mb-4"
        data-toggle="modal"
        data-target="#recipeModal"
      >
        Add New Recipe
      </button>

      <!-- Modal for Viewing Recipe Details -->
      <div
        class="modal fade"
        id="recipeDetailModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="recipeDetailModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="recipeDetailModalLabel">
                Recipe Details
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Recipe Detail Content -->
              <div id="recipeDetailContent">
                <!-- Details will be populated dynamically -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" id="searchInput" class="form-control" placeholder="Search recipes..." aria-label="Search recipes" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>
        </div>
      </div>
      <!-- Section to Display All Recipes -->
      <div id="recipe-list" class="recipe-list-container mt-4">
        <!-- Recipes will be populated here dynamically -->
      </div>
    </div>
    <!-- Modal for Adding New Recipe -->
    <div
      class="modal fade"
      id="recipeModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="recipeModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="recipeModalLabel">
              Submit a New Recipe
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Recipe Form -->
            <form id="recipeForm">
              <div class="form-group">
                <label for="description">Description</label>
                <input
                  type="text"
                  class="form-control"
                  id="description"
                  maxlength="40"
                  required
                />
                <span class="character-counter" id="description-counter">0/40</span>
              </div>
              <div class="form-group">
                <label for="ingredients">Ingredients</label>
                <textarea
                  class="form-control"
                  id="ingredients"
                  maxlength="500"
                  required
                ></textarea>
                <span class="character-counter" id="ingredients-counter">0/500</span>
              </div>
              <div class="form-group">
                <label for="instructions">Instructions</label>
                <textarea
                  class="form-control"
                  id="instructions"
                  maxlength="1000"
                  required
                ></textarea>
                <span class="character-counter" id="instructions-counter">0/1000</span>
              </div>
              <div class="form-group">
                <label for="cookingtime">Cooking Time</label>
                <input
                  type="text"
                  class="form-control"
                  id="cookingtime"
                  required
                />
              </div>
              <div class="form-group">
                <label for="serving">Serving</label>
                <input
                  type="text"
                  class="form-control"
                  id="serving"
                  required
                />
              </div>
              <div class="form-group">
                <label for="difficultySelect">Difficulty</label>
                <select class="form-control" id="difficulty" required>
                  <option value="" selected disabled>Select difficulty</option>
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
              </div>
              <div class="form-group">
                <label for="imageFile">Image</label>
                <input
                  type="file"
                  class="form-control"
                  id="imageFile"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary">
                Submit Recipe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
     $(document).ready(function () {
    // Bind form submission event handler
    $('#filterForm').submit(function (event) {
        event.preventDefault();
        const difficulty = $('#difficultyoptions').val();
        const cookingTime = $('#cookingTimeoptions').val();

        axios.get('users/filterRecipe', {
            params: {
                difficulty: difficulty,
                cookingTime: cookingTime
            },
            headers: {
                Authorization: `Bearer ${localStorage.getItem('jwt')}`
            },
        })
        .then(function (response) {
            const recipes = response.data.recipes; // Ensure this matches the structure of the response
            const recipeList = $('#recipe-list');
            recipeList.empty(); // Clear previous results

            if (recipes.length === 0) {
                recipeList.html('<p>No recipes found!</p>');
                return;
            }

            // Populate the recipe list with filtered recipes
            recipes.forEach(function (recipe) {
                const recipeItem = `
                    <div class="col-md-4 mb-3">
                        <div class="card" data-id="${recipe.id}">
                            <img src="${recipe.image}" class="card-img-top" alt="Recipe Image">
                            <div class="card-body">
                                <h5 class="card-title">${recipe.description}</h5> <!-- Assuming title is stored in description based on your data structure -->
                                <p>${recipe.description}</p>
                            </div>
                        </div>
                    </div>
                `;
                recipeList.append(recipeItem);
            });

            // Add modal functionality to each card
            $('.card').click(function() {
                const id = $(this).data('id');
                const selectedRecipe = recipes.find(r => r.id === id);
                const modalContent = `
                    <h5>${selectedRecipe.description}</h5> <!-- Adjusted to use description for title as your data suggests -->
                    <img src="${selectedRecipe.image}" class="img-fluid mb-3" alt="Recipe Image">
                    <p><strong>Description:</strong> ${selectedRecipe.ingredients}</p> <!-- Assuming ingredients field is used as a description -->
                    <p><strong>Instructions:</strong> ${selectedRecipe.instructions}</p>
                    <p><strong>Cooking Time:</strong> ${selectedRecipe.cookingtime}</p>
                    <p><strong>Serving:</strong> ${selectedRecipe.serving}</p>
                    <p><strong>Difficulty:</strong> ${selectedRecipe.difficulty}</p>
                `;
                $('#recipeModal .modal-body').html(modalContent);
                $('#recipeModalLabel').text(selectedRecipe.description); // Adjusted to use description for title
                $('#recipeModal').modal('show');
            });
        })
        .catch(function (error) {
            console.error('Error fetching filtered recipes:', error);
        });
    });
});

$(document).ready(function () {
      // Logout Button Functionality
      $("#logoutBtn").click(function () {
        // Clear JWT token from localStorage
        localStorage.removeItem("jwt");

        // Redirect to /validate page
        window.location.href = "/validate";
      });
    })

    $(document).ready(function () {
    // Code inside runs after the document is fully loaded
    $("#myProfileBtn").click(function () {
        // Redirect to /validate page
        window.location.href = "/myProfile";  
    })
});


      $(document).ready(function () {
        // Fetch all recipes when the page loads
        axios
          .get("/users/getAllRecipes", {
            headers: {
              Authorization: `Bearer ${localStorage.getItem("jwt")}`, // Include JWT in header
            },
          })
          .then((response) => {
            const recipes = response.data;
            const recipeList = $("#recipe-list");
            
            if (recipes.length === 0) {
              recipeList.html("<p>No recipes found!</p>");
              return;
            }

            // Loop through the recipes and create HTML to display them
            recipes.forEach((recipe) => {
              const recipeItem = `
                <div class="recipe-item" data-id="${recipe.id}">
                  <div class="card">
                    <div class="row no-gutters">
                      <div class="col-md-4 recipe-card">
                        <img src="${recipe.image}" class="card-img" alt="Recipe Image">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">${recipe.description}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              `;
              recipeList.append(recipeItem);
            });

            // Add click event to each recipe item
            $(".recipe-item").click(function () {
              const recipeId = $(this).data("id");

              // Find the selected recipe
              const selectedRecipe = recipes.find(
                (recipe) => recipe.id === recipeId
              );

              // Populate the modal with recipe details
              const recipeDetail = `
                <h5 class="modal-title">${selectedRecipe.description}</h5>
                <img src="${selectedRecipe.image}" class="img-fluid mb-3" alt="Recipe Image">
                <p><strong>Ingredients:</strong> ${selectedRecipe.ingredients}</p>
                <p><strong>Instructions:</strong> ${selectedRecipe.instructions}</p>
                <p><strong>Cooking Time:</strong> ${selectedRecipe.cookingtime}</p>
                <p><strong>Serving:</strong> ${selectedRecipe.serving}</p>
                <p><strong>Difficulty:</strong> ${selectedRecipe.difficulty}</p>
              `;
              $("#recipeDetailContent").html(recipeDetail);

              // Show the modal
              $("#recipeDetailModal").modal("show");
            });
          })
          .catch((error) => {
            if (error.response && error.response.status === 401) {
              // Handle session expiration (401 Unauthorized)
              alert("Your session has expired. Please log in again.");
              // Redirect to the login page
              window.location.href = "/validate";  // Or wherever your login page is
            }
            console.error("Error fetching recipes:", error);
          });

        // Handle the recipe form submission
        $("#recipeForm").submit(function (e) {
          e.preventDefault(); // Prevent the default form submission

          const description = $("#description").val();
          const ingredients = $("#ingredients").val();
          const instructions = $("#instructions").val();
          const cookingtime = $("#cookingtime").val();
          const serving = $("#serving").val();
          const difficulty = $("#difficulty").val();
          const imageFile = $("#imageFile")[0].files[0];

          if (!imageFile) {
            alert("Please upload an image for the recipe.");
            return;
          }

          // Step 1: Get pre-signed URL from the backend
          const fileType = imageFile.type;
          axios
            .get("/api/generatepresign", {
              params: { fileType },
              headers: {
                Authorization: `Bearer ${localStorage.getItem("jwt")}`, // Include JWT in header
              },
            })
            .then(async (response) => {
              const { url, key, bucketName } = response.data;

              // Step 2: Upload the image to S3 using the pre-signed URL
              await axios.put(url, imageFile, {
                headers: {
                  "Content-Type": fileType, // Send the correct file type to S3
                },
              });

              // Step 3: Submit the recipe data, including the image URL
              const imageUrl = `https://${bucketName}.s3.amazonaws.com/${key}`; // Use the bucketName from the response
              const recipeData = {
                description,
                ingredients,
                instructions,
                cookingtime,
                serving,
                difficulty,
                imageUrl, // The public URL of the uploaded image
              };

              // Step 4: Submit the recipe with JWT in header for authentication
              axios
                .post("/users/submitRecipe", recipeData, {
                  headers: {
                    Authorization: `Bearer ${localStorage.getItem("jwt")}`, // Include JWT in header
                    "Content-Type": "application/json", // Ensure the content type is JSON
                  },
                })
                .then((submitResponse) => {
                  // Step 5: Handle successful recipe submission
                  alert("Recipe submitted successfully!");
                  window.location.reload(); // Refresh the page to show the newly added recipe

                  $("#recipeModal").modal("hide"); // Close the modal
                })
                .catch((submitError) => {
                  console.error("Error submitting recipe:", submitError);
                  alert("Error submitting recipe.");
                });
            })
            .catch((error) => {
              console.error("Error generating presigned URL:", error);
              alert("Error uploading image.");
            });
        });
      });

      // Function to fetch and display recipes
      function fetchRecipes(query = '') {
        axios.get('/users/searchRecipe', { // Ensure the endpoint is correct and accessible
            params: { query: query },
            headers: {
                Authorization: `Bearer ${localStorage.getItem('jwt')}`, // Confirm the token is being sent correctly
            },
        })
        .then((response) => {
            const recipes = response.data;
            console.log(recipes); // Debugging to see what data is returned
            const recipeList = $('#recipe-list');
            recipeList.empty(); // Clear previous results

            if (recipes.length === 0) {
                recipeList.html('<p>No recipes found!</p>'); // Show a message if no recipes are found
                return;
            }

            recipes.forEach((recipe) => {
                // Ensure all fields exist and are accessed correctly
                const recipeItem = `
                    <div class="recipe-item" data-id="${recipe.id}">
                        <div class="card">
                            <div class="row no-gutters">
                                <div class="col-md-4 recipe-card">
                                    <img src="${recipe.image}" class="card-img" alt="Recipe Image">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">${recipe.description || 'No Title'}</h5> <!-- Default if no title -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
                recipeList.append(recipeItem);
            });

            // Use event delegation for dynamically added elements
            recipeList.on("click", ".recipe-item", function () {
                const recipeId = $(this).data("id");
                const selectedRecipe = recipes.find(recipe => recipe.id === recipeId);

                if (!selectedRecipe) {
                    console.error('Recipe details not found');
                    return;
                }

                // Safely accessing properties with fallbacks
                const recipeDetail = `
                    <h5 class="modal-title">${selectedRecipe.description || 'No Description'}</h5>
                    <img src="${selectedRecipe.image}" class="img-fluid mb-3" alt="Recipe Image">
                    <p><strong>Ingredients:</strong> ${selectedRecipe.ingredients || 'Not specified'}</p>
                    <p><strong>Instructions:</strong> ${selectedRecipe.instructions || 'Not specified'}</p>
                    <p><strong>Cooking Time:</strong> ${selectedRecipe.cookingtime || 'Not specified'}</p>
                    <p><strong>Serving:</strong> ${selectedRecipe.serving || 'Not specified'}</p>
                    <p><strong>Difficulty:</strong> ${selectedRecipe.difficulty || 'Not specified'}</p>
                `;
                $("#recipeDetailContent").html(recipeDetail);
                $("#recipeDetailModal").modal("show");
            });
        })
        .catch((error) => {
            console.error('Error fetching recipes:', error);
            alert('Failed to fetch recipes, please check console for details.');
        });
    }

    // Binding event listeners to buttons and inputs
    $('#searchButton').click(function () {
        const query = $('#searchInput').val().trim();
        fetchRecipes(query);
    });

    $('#searchInput').on('keypress', function (event) {
        if (event.which === 13) { // Enter key pressed
            const query = $(this).val().trim();
            fetchRecipes(query);
        }
    });

    // Initial fetch without any query
    
    $(document).ready(function () {
  // Add character counter functionality
  function updateCharacterCount(element, counterId, maxLength) {
    const currentLength = element.val().length;
    $(`#${counterId}`).text(`${currentLength}/${maxLength}`);
  }

  // Initialize character counters
  $('#description').on('input', function() {
    updateCharacterCount($(this), 'description-counter', 40);
  });

  $('#ingredients').on('input', function() {
    updateCharacterCount($(this), 'ingredients-counter', 500);
  });

  $('#instructions').on('input', function() {
    updateCharacterCount($(this), 'instructions-counter', 1000);
  });

  // Update form submission to validate lengths
  $("#recipeForm").submit(function (e) {
    e.preventDefault();

    const description = $("#description").val();
    const ingredients = $("#ingredients").val();
    const instructions = $("#instructions").val();

    if (description.length > 40 || ingredients.length > 500 || instructions.length > 1000) {
      alert("Please ensure your text is within the character limits.");
      return;
    }

    // ... rest of your existing form submission code ...
  });
  
  // ... rest of your existing code ...
});
    </script>
  </body>
</html>
